.scrollable {
  font-size: 2rem;
  overflow-y: scroll;
  margin-block: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.newKeepBtn {
  background-color: var(--color-darkblue);
  color: var(--color-fullwhite);
  width: 100%;
  padding: 0.5em 0;
  border-radius: 0.7rem;
  margin-bottom: 2rem;
}

.scrollable a {
  color: var(--color-darkblue);
  font-weight: 500;
  padding-block: 0.7em;
  border-bottom: 1px solid var(--color-lightblue);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.scrollable a:global(.active) {
  color: var(--color-red-1);
}

.gradient {
  background-image: var(--gradient-sidenav);
  width: 5rem;
  /* height: 90%; */
  height: 90%;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
