.body {
  height: calc(100% - 6.5rem);
  min-height: calc(100vh - 6.5rem);
  display: grid;
  place-items: center;
}

.body:global(.full){
  height:100%;
  min-height:100vh
}

.body svg {
  width: 5rem;
  height: 5rem;
}

.content {
  display: grid;
  place-items: center;
  gap: 1.5rem;
}
.subtext {
  font-size: 1.3rem;
  color: var(--text-muted);
}
