.body {
  height: calc(100% - 6.5rem);
  display: grid;
  place-items: center;
}

.body:global(.full) {
  height: 100%;
}

.body svg {
  width: 9rem;
  height: 9rem;
}

.content {
  display: grid;
  place-items: center;
  gap: 1rem;
}
.subtext {
  font-size: 2.3rem;
  color: #7a706a;
}
