.nav {
  box-shadow: var(--nav-shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-fullwhite);
}
.navDiv {
  display: grid;
  place-items: center;
  height: 6.5rem;
  position: relative;
}

.navDiv a {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-red-1);
}

.menu {
  position: absolute;
  left: 0;
  font-size: 3rem;
  color: var(--color-darkblue);
  cursor: pointer;
}

.autoKeeping {
  position: absolute;
  font-size: 1.5rem;
  right: 0;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: var(--color-keeping);
}
.sidebarWrapper {
  width: 78%;
  min-width: 28.5rem;
  max-width: 40rem;
  background-color: var(--color-fullwhite);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid grey;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  z-index: -1;
  opacity: 0;
  transform: translateX(-100%);
  transform-origin: left;
}

.sidebarWrapper:global(.open) {
  opacity: 1;
  transform: translateX(0);
  z-index: 1001;
}

.loginDiv {
  margin-top: auto;
  padding-block: 1.5rem;
  border-top: 1px solid var(--color-lightblue);
}

.loginBtn,
.logoutBtn {
  width: 100%;
  padding: 0.5em;
  color: white;
  border-radius: 0.7rem;
}

.loginBtn {
  background-color: var(--color-blue-1);
}

.logoutBtn {
  background-color: var(--color-red-3);
}

.sidebarTop {
  height: 6.5rem;
  border-bottom: 1px solid var(--color-lightblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 1.5rem;
}

.sidebarTop svg {
  font-size: 3.5rem;
  color: var(--color-darkblue);
  cursor: pointer;
}

.sidebarTop a {
  display: flex;
  flex-direction: column;
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-red-1);
}
.sidebarTop a span {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-fullblack);
}

.mode {
  border-radius: 50%;
  background-color: var(--color-modebg);
  margin-left: auto;
  padding: 0.7rem;
}

.mode svg {
  font-size: 2.9rem;
  color: var(--color-mode);
}

/* Media Query */
@media screen and (min-width: 1280px) {
  .sidebarWrapper {
    opacity: 1;
    transform: translateX(0);
    z-index: 1001;
    background-color: var(--color-white);
    left: auto;
    width: 40rem;
    max-width: 100%;
  }
  .nav {
    background-color: transparent;
    box-shadow: none;
    z-index: 0;
    isolation: isolate;
  }

  .nav a,
  .menuArrow {
    display: none;
  }

  .autoKeeping {
    background-color: var(--color-white);
    padding: 0.3em 0.6em;
    border-radius: 0.7rem;
    font-weight: 500;
    font-size: 1.8rem;
    z-index: 10007;
  }

  .mode {
    margin-right: 1rem;
  }
}
