.homePage {
  padding-block: 2rem 5rem;
}

.homePage h1 {
  text-transform: capitalize;
  text-align: center;
  color: #9a9ec9;
  background: -webkit-linear-gradient(0deg, #b0b1d4, #d98d8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recentlyViewed {
  margin-top: 3rem;
}
.homePage h3 {
  width: fit-content;
  margin-block: 3rem 1.5rem;
  color: var(--color-darkblue-2);
}

.homePage h3::after {
  content: '';
  background-color: #e6c9c9;
  background-color: #d7d7e1;
  height: 2px;
  width: 70%;
  display: block;
  margin-top: 0.3rem;
}

.keepLists {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.keep {
  font-size: 2rem;
  padding: 0.7em 0.4em;
  border-radius: 0.4rem;
  color: var(--color-black-1);
  background-color: var(--color-keepwhite);
  border-bottom: 1px solid var(--color-darkblue);
}

.noData {
  color: var(--color-nodata);
}
