.keepPage {
  padding-block: 1rem 2rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 6.5rem);
}

.keepPage input,
.keepPage textarea,
.title,
.content {
  font-size: 2rem;
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 0.7rem;
  outline: none;
}

.keepPage input,
.keepPage textarea {
  border: 1px solid var(--color-inputborder);
  background-color: var(--color-fullwhite);
  color: var(--color-darkblue);
}

.keepPage textarea {
  flex-grow: 1;
  resize: none;
  margin-top: 1.5rem;
}

.keepPage input:focus,
.keepPage input:active,
.keepPage textarea:focus,
.keepPage textarea:active {
  border-color: var(--color-inputborder-active);
}

.keepPage input::placeholder,
.keepPage textarea::placeholder {
  color: #cbcbcb;
}

.keepInfo {
  display: flex;
  gap: 1rem;
  margin-block: 1rem 1.6rem;
}

.keepInfo p {
  width: 70%;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--color-lightblue);
}
.keepInfo button {
  width: 30%;
  padding: 0;
  font-size: 1.6rem;
  color: var(--color-darkblue);
  white-space: nowrap;
}

.title,
.content {
  background-color: var(--color-keepread);
  border: 1px solid var(--color-keepread);
}

.content {
  white-space: break-spaces;
  flex-grow: 1;
  overflow-wrap: break-word;
  margin-top: 1.5rem;
  color: var(--color-content);
}
.title {
  font-weight: 600;
  color: var(--color-darkblue);
}
.content a {
  color: var(--color-blue-1);
}

.toolbarWrapper {
  background-color: var(--color-white);
  position: sticky;
  top: 6.5rem;
  padding-block: 1em;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid var(--color-toolbarborder);
  border-radius: 0.7rem;
  padding: 0.5em 1.5em;
}
.toolbar button {
  font-size: 1.7rem;
}
.editBtn {
  color: var(--color-blue-1) !important;
}
.dltBtn {
  color: var(--color-red-3) !important;
}

.keepInfo .toolbarWrapper {
  display: none;
}

/* Media Queries */
@media screen and (min-width: 800px) {
  .toolbarWrapper {
    display: none;
  }
  .keepInfo .toolbarWrapper {
    display: block;
    margin-left: auto;
    position: static;
  }

  .keepInfo {
    align-items: center;
    gap: 2rem;
  }

  .keepInfo > * {
    font-size: 1.7rem !important;
  }

  .toolbar {
    border: none;
    padding: 0;
    gap: 2rem;
  }

  .keepInfo p,
  .keepInfo button {
    width: auto;
  }
}

/* Media Query */

@media screen and (min-width: 1280px) {
  .keepPage {
    padding: 0 0 2rem 40rem;
    margin-top: -6.5rem;
    min-height: 100%;
  }
  .editBtn,
  .dltBtn {
    z-index: 1100;
  }
}
